\#*\#
\#*
*.\#*
*~
*.aux
*.h5
source/fxs_test_2d/**
source/fxs_test_3d/**
*.pyc
*__pycache__/*
*__pycache__*
*.vtr
*.vti
*.vts
*.vt*
*.npy
*.npc
*.pyc
*.log
*_build*
*.egg-info/
*.ipynb*
*\*Python\*
*_version.py

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
