{% extends "_base/class.html.jinja" %}
{% import "source_link.html.jinja" as src %}

{% block heading %}
  <span class="doc-heading-text">{{ super() }}</span>
  {{ src.github_link_inline(class, "[source]") }}
{% endblock heading %}
